<div class="container">
  <div class="signin col-md-4 offset-md-4">
    <h4 class="title">Cadastro Reembolso</h4>
    <form class="form-default" [formGroup]="cadastroForm" (ngSubmit)="onSubmit(cadastroForm.value)">
      <div class="md-form">
        <div class="input-field col s12">
          <input id="nome" type="text" [class.valid]="nome.valid" [class.invalid]="nome.invalid && nome.touched"
           autocomplete="off" formControlName="nome" autofocus>
          <label for="nome">Nome</label>
        </div>
      </div>
      <div class="md-form">
        <div class="input-field col s12">
          <input id="email" type="email" [class.valid]="email.valid" [class.invalid]="email.invalid && email.touched"
           formControlName="email">
          <label for="email">E-mail</label>
        </div>
      </div>
      <div class="md-form">
        <div class="input-field col s12">
          <input id="senha" type="password" [class.valid]="senha.valid" [class.invalid]="senha.invalid && senha.touched"
           autocomplete="off" formControlName="senha">
          <label for="senha">Senha</label>
        </div>
      </div>
      <div class="md-form">
        <div class="input-field col s12">
          <input id="senhaRepetida" type="password" [class.valid]="confirmaSenha.valid" 
          [class.invalid]="confirmaSenha.invalid && confirmaSenha.touched"
           autocomplete="off" formControlName="confirmaSenha">
          <label for="senhaRepetida">Repetir senha</label>
        </div>
      </div>

      <!--Radio buttons-->
      <p>
        <label>
          <input class="with-gap" formControlName="tipo" type="radio" id="admin" value="admin" [checked]=true/>
          <label for="admin">Criar uma nova empresa (Admin)</label>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" formControlName="tipo" type="radio" id="user" value="user"/>
          <label for="user">Inserir código existente</label>
        </label>
      </p>
      <!--\ Radio buttons -->
      
      <div cclass="md-form" *ngIf="tipo.value == 'user'">
        <div class="input-field col s12">
          <input id="codigo" type="text" [class.valid]="codigoEmpresa.valid" [class.invalid]="codigoEmpresa.invalid && codigoEmpresa.touched"
           formControlName="codigoEmpresa">
          <label for="codigo">Código da Empresa</label>
        </div>
      </div>
      <div cclass="md-form" *ngIf="tipo.value == 'admin'">
        <div class="input-field col s12">
          <input id="nomeEmpresa" type="text" [class.valid]="nomeEmpresa.valid" [class.invalid]="nomeEmpresa.invalid && nomeEmpresa.touched"
           formControlName="nomeEmpresa">
          <label for="codigo">Nome da Empresa</label>
        </div>
      </div>
      <div class="button-login">
        <button class="btn btn-lg btn-primary btn-block" type="submit">CADASTRAR</button>
      </div>            
    </form>
  </div>
</div>
