<div class="container">
  <div class="signin col-md-4 offset-md-4">
    <h3 class="title">Recuperar senha</h3>
    <form class="form-default" [formGroup]="recuperarForm" (ngSubmit)="onSubmit(recuperarForm.value)">
      <div>
        <p class="redefinir-informacao">Insira o seu e-mail cadastrado para redefinir sua senha</p>
      </div>
      <div class="md-form">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" formControlName="email"
          [class.valid]="email.valid" [class.invalid]="email.invalid && email.touched" x-webkit-speech autofocus>
          <label for="email">E-mail</label>
        </div>
      </div>
      <div class="button-login">
        <button class="btn btn-lg btn-primary btn-block" type="submit">REDEFINIR SENHA</button>
      </div>            
    </form>
  </div>
</div>
