<div class="container">
  <div class="signin col-md-4 offset-md-4">
    <h3 class="title">Reembolso</h3>
    <form class="form-default" #form="ngForm">
      <div class="md-form">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" ngModel x-webkit-speech required autofocus>
          <label for="email">E-mail</label>
        </div>
      </div>
      <div class="md-form">
        <div class="input-field col s12">
          <input id="senha" type="password" class="validate" name="senha" ngModel required>
          <label for="senha">Senha</label>
        </div>
      </div>
      <div class="button-login">
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(form)">LOGIN</button>
      </div>           
    </form>
    <div class="row login-buttons">
      <div class="col l6 left-align">
        <p><a [routerLink]="['/recuperarSenha']" class="esqueci-button">ESQUECI MINHA SENHA</a></p>
      </div>
      <div class="col l6 right-align">
        <p><a [routerLink]="['/cadastro']" class="cadastrar-button">QUERO ME CADASTRAR</a></p>
      </div>
    </div> 
  </div>
</div>
