<ca-navigator titulo="Reembolso" ></ca-navigator>

<main>
  <div class="container">

    <div class="div-admin-table">
      <!--Table-->
      <table class="table centered highlight">
        <thead>
          <tr>
            <th>Reembolso</th>
            <th>Status</th>
            <th>Valor (R$)</th>
            <th>Categoria</th>
            <th>Usuário</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reembolso of reembolsos" (click)="openModal(reembolso)">
            <td>{{reembolso.descricao}}</td>
            <td><img src="../../assets/{{reembolso.status}}.svg" class="{{reembolso.status}}"></td>
            <td>{{reembolso.valor.replace('.',',')}}</td>
            <td>{{reembolso.categoria}}</td>
            <td>{{reembolso.nomeUsuario}}</td>
          </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>

  <!-- Modal Structure -->
  <div class="modal fade" id="modalReembolso"  materialize="modal" [materializeParams]="modalParams" [materializeActions]="modalActions">
    <div class="modal-content">
      <div class="row">
        <h4 class="col s12">Reembolso - {{usuario}}</h4>
        <form name="criaReembolsoForm" id="formulario">
          <div class="input-field col s12">
            <input disabled id="nome" type="text" placeholder="" value="{{descricao}}">
            <label class="active" for="nome">Nome do reembolso</label>
          </div>

          <div class="input-field col s6">
            <input disabled id="categoria" type="text" placeholder="" value="{{categoria}}">
            <label class="active" for="categoria">Categoria</label>
          </div>

          <div class="input-field col s6">
            <input disabled type="text" placeholder="" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" value="{{data}}" />
            <label for="data">Data</label>
          </div>

          <div class="input-field col s3">
            <input disabled id="valor" placeholder="" type="text" value="{{valor}}">
            <label for="valor">Valor</label>
          </div>

          <div class="input-field col s12">
            <button class="btn btn-primary btn-block" name="download" (click)="downloadFile()">DOWNLOAD NOTA
              <i class="material-icons right">vertical_align_bottom</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row modal-action-buttons">
        <div class="col s3">
            <button class="aprovar-button modal-action modal-close" (click)="setStatusReembolso('APROVADO')">APROVAR</button>
        </div>
        <div class="col s3">
            <button class="recusar-button modal-action modal-close" (click)="setStatusReembolso('RECUSADO')">RECUSAR</button>
        </div>
        <div class="col l3 offset-l3">
            <button class="cancelar-button modal-action modal-close" (click)="closeModal()">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>
</main>
