.brand-logo {
  margin-left: 100px;
}
.reembolso-perfil {
  width: 245px;
  height: 32px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: white;
}
.nome-perfil {
  color: white;
  font-size: 15px;
}
.email-perfil {
  color: white;
}
.user-view {
  background-color: #2687e9;
}
.copiar-button {
  background-color: #fff;
  margin-right: 20px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.copiar-button:focus {
  background-color: #fff; 
}
.copiar-button:hover {
  background-color: #fff; 
}
.copy-button {
  display:inline-block;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  vertical-align:middle;
  padding-right: 10px;
}