<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Gastos</a>
        
        <a href="showSidenav()" materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
         data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

<!-- Sidenav Structure -->
<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <a class="reembolso-perfil">Reembolso</a>
    <a class="nome-perfil name">Felipe Fuerback</a>
    <a class="email-perfil email">felipe@gmail.com</a>
  </div></li>
  <li><a [routerLink]="['/dashboardUsuario']"><i class="material-icons">home</i>Histórico e Solicitações</a></li>
  <li><a [routerLink]="['/gastos']"><i class="material-icons">dashboard</i>Dashboard de Gastos</a></li>
  <li><a [routerLink]="['/perfil']"><i class="material-icons">person</i>Perfil</a></li>
  <li><div class="divider"></div></li>
  <li><a [routerLink]="['/']"><i class="material-icons">exit_to_app</i>Sair</a></li>
</ul>

<main>
  <div class="container">

    <div class="grafico-area">
      <p class="titulo-gastos">Gastos por categoria</p>
      <canvas id="canvas">{{ chart }}</canvas>
    </div>

    <div class="gastos-area">
      <p class="titulo-gastos">Gastos por usuário</p>
      <!--Table-->
      <table class="table">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Valor</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gastos of gastosTotais">
              <td>{{gastos.usuario}}</td>
              <td>{{gastos.valor}}</td>
              <td>{{gastos.email}}</td>
            </tr>
          </tbody>
        </table>
        <!--Table-->
    </div>
  </div>
</main> 