<ca-navigator titulo="Gastos" ></ca-navigator>

<main>
  <div class="container">

    <div class="grafico-area">
      <p class="titulo-gastos">Gastos por categoria</p>
      <canvas id="canvas">{{ chart }}</canvas>
    </div>

    <div *ngIf="usuario.isAdmin == true" class="gastos-area">
      <p class="titulo-gastos">Gastos por usuário</p>
      <!--Table-->
      <table class="table">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Valor</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gastos of gastosTotais">
              <td>{{gastos.usuario}}</td>
              <td>{{gastos.valor}}</td>
              <td>{{gastos.email}}</td>
            </tr>
          </tbody>
        </table>
        <!--Table-->
    </div>
  </div>
</main> 