<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Reembolso</a>
        
        <a href="showSidenav()" materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
         data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

<!-- Sidenav Structure -->
<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <a class="reembolso-perfil">Reembolso</a>
    <a class="nome-perfil name">Felipe Fuerback</a>
    <a class="email-perfil email">felipe@gmail.com</a>
  </div></li>
  <li><a [routerLink]="['/dashboardUsuario']"><i class="material-icons">home</i>Histórico e Solicitações</a></li>
  <li><a [routerLink]="['/gastos']"><i class="material-icons">dashboard</i>Dashboard de Gastos</a></li>
  <li><a [routerLink]="['/perfil']"><i class="material-icons">person</i>Perfil</a></li>
  <li><div class="divider"></div></li>
  <li><a [routerLink]="['/']"><i class="material-icons">exit_to_app</i>Sair</a></li>
</ul>

<main>
  <div class="container">
    <div class="div-user-table col-md-4 offset-md-4">
      <!--Table-->
      <table class="table centered highlight">
        <thead>
          <tr>
            <th>Reembolso</th>
            <th>Status</th>
            <th>Valor R$</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reembolso of reembolsos" (click)="openModal()">
            <td>{{reembolso.descricao}}</td>
            <td><img src="../../assets/{{reembolso.status}}.svg" class="{{reembolso.status}}"></td>
            <td>{{reembolso.valor}}</td>
            <td>{{reembolso.categoria}}</td>
          </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>

  <!-- Float button -->
  <a class="btn-floating btn-large green floatbutton" (click)="openModal()"><i class="material-icons">add</i></a>

  <!-- Modal Structure -->
  <div class="modal fade" id="modalReembolso"  materialize="modal" [materializeParams]="modalParams" [materializeActions]="modalActions">
    <div class="modal-content">
      <div class="row">
        <h4 class="col s12">Solicitar Reembolso</h4>
        <p class="col s12">Preencha as informações abaixo para solicitar reembolso:</p>  

        <form name="criaReembolsoForm" id="formulario" [formGroup]="dashBoardUserForm" (ngSubmit)="onSubmit(dashBoardUserForm.value)">
          <div class="input-field col s12">
            <input id="nome" type="text" name="nome" formControlName="nome"
            [class.valid]="nome.valid" [class.invalid]="nome.invalid && nome.touched" autocomplete="off">
            <label for="nome">Nome do reembolso</label>
          </div>

          <div class="input-field col s6">
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" name="categoria" formControlName="categoria">
              <option value="" disabled selected>Selecione uma categoria</option>
              <option *ngFor="let categoria of categorias">{{categoria.nome}}</option>
            </select>
            <label for="select">Categoria</label>
          </div>

          <div class="input-field col s6">
           <input type="text" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" name="data" formControlName="data"/>
           <label for="data">Data</label>
          </div>

          <div class="row">
              <div class="col s12">
                R$
                <div class="input-field inline">
                  <input [textMask]="{mask: numberMask}" type="text" name="valor" autocomplete="off" formControlName="valor"/>
                  <label for="valor">Valor</label>
                </div>
              </div>
            </div>

          <div class="file-field input-field col s12">
            <div class="btn button-upload">
              <span>ADICIONAR ARQUIVO</span>
              <input name="foo" type="file" accept="image/jpeg,image/gif,image/png,application/pdf,image" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row modal-action-buttons">
        <div class="col l3 offset-l3">
            <p><button class="cancelar-button modal-action modal-close" (click)="closeModal()">CANCELAR</button></p>
        </div>
        <div class="col l3 offset-l3">
          <p><button id="cadastrar" class="solicitar-button modal-action modal-close" [disabled]="!dashBoardUserForm.valid" (click)="adicionaReembolso()" >SOLICITAR</button></p>
        </div>
      </div>
    </div>
  </div>
</main>
